<!-- <figure [routerLink]="['/coctails']" [fragment]="listCoctail['idDrink']">
    <div class="card card-1" >
      <img src="{{ listCoctail['strDrinkThumb'] }}" alt="" style="width: 200px" />
  
      <span class="text-black text-center">{{ listCoctail["strDrink"] }}</span>
    </div>
  </figure>
   -->

  <div class="app-coctail-item">
    <div routerLink="/coctail-info"  [fragment]="listCoctail['idDrink']">
      <div class="card" style="width: 18rem;" >
        <img src="{{ listCoctail['strDrinkThumb'] }}" alt="drink" class="card-img-top"/>
        <h4 class="card-text text-center">{{ listCoctail["strDrink"] }}</h4>
      </div>
    </div>
  </div> 

  