<footer id="footer">
  <div class="footerWrapper">
    <span>© 2020 TheCocktailDB.
    </span>

    <div class="footerImageLogo">
      <!-- <img src="https://www.thecocktaildb.com/images/logo-tsdb.png" alt="LogoTheSportsDB">
      <img src="https://www.thecocktaildb.com/images/logo-tadb.png" alt="LogoAudioDB"> -->
      <img src="https://www.thecocktaildb.com/images/logo-tmdb.png" alt="LogoTheMealDB">
    </div>
    <div class="footerNav">
      <span>Missing</span>
      <span>About</span>
      <span>Faq</span>
      <span>Contact</span>
    </div>

  </div>
</footer>
