.app-coctail-info{
    // width: 100%;
    // display: flex;
    // justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 15px;
}

.card-text{
    img{
        width: 190px;
    }
}

.coctail-main-info{
    img {
        width: 380px;
    }
}
.ingredient {
    width: 200px;
    // height: 200px;
}