<div class="container">
    <h1 class="text-center">Alcoholic cocktails</h1>
    <p>
        A cocktail is a mixed drink typically made with a distilled liquor (such as arrack, brandy, cachaça, gin, rum,
        tequila, vodka, or whiskey) as its base ingredient that is then mixed with other ingredients or garnishments.
        Sweetened liqueurs, wine, or beer may also serve as the base or be added. If beer is one of the ingredients, the
        drink is called a beer cocktail.
        Cocktails often also contain one or more types of juice, fruit, honey, milk or cream, spices, or other
        flavorings. Cocktails may vary in their ingredients from bartender to bartender, and from region to region. Two
        creations may have the same name but taste very different because of differences in how the drinks are prepared.
        This article is organized by the primary type of alcohol (by volume) contained in the beverage. Cocktails marked
        with
    </p>
    <p>
        Unless you're finishing up your undergrad years, the days of ordering Rum and Cokes and Vodka Crans are over.
        There's better stuff to drink out there, and no excuse not to try it. Besides, the social value in knowing the
        most classic of cocktails is immeasurable. Although you don't need to intimately acquaint yourself with the
        chemical makeup of each one, you might as well learn the basics. Such as, the difference between a Manhattan and
        an Old Fashioned, or the correct way to serve a Daiquiri or Margarita.
        After all, drink trends rise and fade away. There is a time and a place for spiked seltzer (anything outdoors
        that involves a patio grill) and low-ABV beer (anytime you're juggling drinking with physical activity). But at
        the bar, in the evening hours, a cocktail is in order. Especially if the draft list is uninspired. Especially if
        you're looking to flex your newly formed drinking muscles.
        To limit the list of cocktails worth knowing to a manageable length, we rounded up the 10 most popular bar
        drinks—beer and wine excluded—in 2020, as tallied by Drinks International. Even if you aren't familiar with
        them, your bartender will be, so order with confidence and drink happily.
    </p>
</div>