<div class="container">
    <div class="center input">
      <h3 class="text-white center">Search Drinks</h3>
  
      <form class="row align-items-center col-11">
        <div class="input-group mb3">
          <input class="form-control" name="search" placeholder="Search for a Cocktail" type="text" autocomplete="off"
        [(ngModel)]="search" />
        <div class="input-group-append">
        <button
        (click)="searchCoctail()" type="button" class="btn btn-outline-secondary mb-2">Search</button>
      </div>
        </div>
      </form>






<!-- 
      <form>
        <div class="input-group mb-3">
          <input
            type="text"
            name="title"
            [(ngModel)]="search"
            class="form-control"
            placeholder="Search for a Cocktail"
          />
          <div class="input-group-append">
            <button
              (click)="searchCoctail()"
              class="btn btn-outline-secondary bg-primary text-white"
              type="button"
              id="button-addon2">
              Search
            </button>
          </div>
        </div>
      </form> -->
    </div>
 
    <br />
    <h4 *ngIf="list.length !== 0" class="text-black center">
      Found: {{ list.length }} coctails
    </h4>
    <br />
    <div class="d-flex flex-wrap justify-content-center">
        <app-coctail-item *ngFor="let item of list" [listCoctail]="item"></app-coctail-item>
      <div *ngIf="errors === true" class="center">
        <h3>0 results found for your search.
          Please try another search term</h3>
      </div>
    </div>
  </div>
  